设置环境变量：
Mac Linux ：
$ export MAIL_USERNAME = <flaskm@example.com>

Windows :
> set MAIL_USERNAME = <flaskm@example.com>


获取环境变量：
import os
os.environ.get('MAIL_USERNAME')




python -m pip install Flask-Login
python -m pip install Flask-Mail,Flask-Bootstrap,Flask-WTF